/* * {
    outline: 1px dotted rgb(246, 0, 0);
}

body {
    background: repeating-linear-gradient(to right,
            #000000, #000000 calc(100% / 12),
            #5b5a5a calc(100% / 12), #5b5a5a calc(100% / 6));
} */
#container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Alinhar todos os elementos ao fundo */
    height: 100vh;
    /* Ajusta a altura conforme necessário */
}

#fundo {
    background-color: #FFF1E3;
    border-radius: 20px;
    width: 80%;
    height: 100%;
    scale: 0.95;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#conteudo1,
#conteudo2,
#conteudo3 {
    background-color: rgb(255, 255, 255);
     /* T R o u B L e */
    margin: 100px 20px 20px 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.056);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#conteudo1 {
    margin-top: 240px;
    height: 500px;
    width: 300px;
}

#conteudo2 {
    height: 600px;
    width: 325px;
}

#conteudo3 {
    margin-bottom: 170px;
    height: 700px;
    width: 350px;
}

.triangulo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(253.09deg, rgba(255, 255, 255, 0.5) 4.67%, rgba(255, 207, 161, 0.5) 99.54%);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.conteudo {
    color: #ffffff;
    /* Cor do texto */
    background-color: rgba(0, 0, 0, 0.8);
    /* Adiciona um fundo branco semi-transparente ao conteúdo */
    padding: 10px;
    /* Adiciona espaçamento interno ao conteúdo */
    text-align: center;
    /* Centraliza o texto */
    z-index: 1;
    /* Garante que o conteúdo esteja acima do triângulo */
}

#conteudo, #conteudobotao {
    color: #ffa20c;
    /* Cor do texto */
    padding: 20px 5px 10px 5px;
    /* Adiciona espaçamento interno ao conteúdo */
    text-align: center;
    /* Centraliza o texto */
    z-index: 1;
    /* Garante que o conteúdo esteja acima do triângulo */
}

#conteudobotao{
    background-color: #ffdeb858;
    border-radius: 15px;
    padding-bottom: 20px;
    
}

#tituloplano {
    margin-bottom: 40px;
}

#opcaoplano {
    background-color: #FFEFE0;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 10px;

}

#topic {
    font-size: 16px;
}

#opbut{
    font-size: 18px;
    color: #FFF1E3;
    font-weight: 500;
    --bs-btn-bg: #ff8f27;
    --bs-btn-hover-bg: #f6a457;
    --bs-btn-active-bg: #f1a660;
    --bs-btn-color: #f1a660;
    --bs-btn-hover-color: #f1a660;
    --bs-btn-active-color: #f1a660;
}


