/* * {
    outline: 1px dotted rgb(246, 0, 0);
}

body {
    background: repeating-linear-gradient(to right,
            #000000, #000000 calc(100% / 12),
            #5b5a5a calc(100% / 12), #5b5a5a calc(100% / 6));
} */

#container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinhar todos os elementos ao fundo */
    height: 100vh; /* Ajusta a altura conforme necessário */
}

#fundo{
    background-color: #FFF1E3;
    border: 1px solid #F67700;
    border-radius: 20px;
    width: 80%;
    height: 100%;
    scale: 0.9;
}

#conteudo1, #conteudo2, #conteudo3 {
    background-color: rgb(255, 255, 255);
    margin: 7px;
    border-radius: 20px;
    border: 1px solid #F67700;
    position: relative;
    overflow: hidden;
    align-self: flex-end;
    scale: 0.9;
}

#conteudo1{
    height: 420px;
    width: 260px;
    
}

#conteudo2{
    height: 480px;
    width: 270px;
}

#conteudo3{
    height: 540px;
    width: 290px;
}

#triangulo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(253.09deg, rgba(255, 255, 255, 0.5) 4.67%, rgba(255, 207, 161, 0.5) 99.54%);
    clip-path: polygon(100% 0, 0 100%, 100% 100%); /* Atualizado para espelhar horizontalmente */
}



